<div class="modal is-active">
  <div class="modal-background" (click)="close()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ header }}</p>
      <button class="delete" aria-label="close" (click)="close()"></button>
    </header>
    <ng-template [ngIf]="form == 1">
      <form *ngIf="inviteEmployee" [formGroup]="inviteEmployee" (ngSubmit)="sendMail(inviteEmployee,1)" class="p-0">
        <section class="modal-card-body">
          <label class="label">Ad Soyad</label>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input formControlName="fullName" class="input" type="text" placeholder="Ad Soyad">
              <span class="icon is-medium is-left">
                <i class="fas fa-envelope fa-lg"></i>
              </span>
            </div>
          </div>
          <label class="label">Email</label>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input formControlName="email" class="input" type="email" placeholder="ornek@ornek.com">
              <span class="icon is-medium is-left">
                <i class="fas fa-envelope fa-lg"></i>
              </span>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot field is-grouped is-grouped-centered">
          <p class="control">
            <button class="button is-success my-0">Davet Et</button>
            <button class="button is-danger my-0" (click)="close()">İptal</button>
          </p>
        </footer>
      </form>
    </ng-template>
    <ng-template [ngIf]="form == 2">
      <form *ngIf="printerAccount" [formGroup]="printerAccount" (ngSubmit)="addPrinterAccount(printerAccount,2)"
        class="p-0">
        <section class="modal-card-body">
          <label class="label">Hesap Adı</label>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input formControlName="fullName" class="input" type="text" placeholder="Hesap Adı">
              <span class="icon is-medium is-left">
                <i class="fas fa-user fa-lg"></i>
              </span>
            </div>
          </div>
          <label class="label">Email</label>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input formControlName="email" class="input" type="email" placeholder="ornek@ornek.com">
              <span class="icon is-medium is-left">
                <i class="fas fa-envelope fa-lg"></i>
              </span>
            </div>
          </div>
          <label class="label">Şifre</label>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input formControlName="password" class="input" type="password" placeholder="*****">
              <span class="icon is-medium is-left">
                <i class="fas fa-key fa-lg"></i>
              </span>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot field is-grouped is-grouped-centered">
          <p class="control">
            <button class="button is-success my-0">Yazıcı Hesabı Ekle</button>
            <button class="button is-danger my-0" (click)="close()">İptal</button>
          </p>
        </footer>
      </form>
    </ng-template>
    <ng-template [ngIf]="form == 3">
      <form *ngIf="fileForm" [formGroup]="fileForm" (ngSubmit)="uploadFile(files,1)" class="p-0">
        <section class="modal-card-body">
          <label class="label">Dosya Adı</label>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input formControlName="fileName" class="input" type="text" placeholder="Dosya Adı">
              <span class="icon is-medium is-left">
                <i class="fas fa-file fa-lg"></i>
              </span>
            </div>
          </div>
          <label class="label">Dosya</label>
          <div class="field">
            <ngx-dropzone [accept]="'application/pdf'" [multiple]="'false'" (change)="onSelect($event)">
              <ngx-dropzone-label>Dosya Yüklemek İçin Sürükle.</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
        </section>
        <footer class="modal-card-foot field is-grouped is-grouped-centered">
          <p class="control">
            <button class="button is-success my-0">Yükle</button>
            <button class="button is-danger my-0" (click)="close()">İptal</button>
          </p>
        </footer>
      </form>
    </ng-template>
    <ng-template [ngIf]="form == 4">
      <form *ngIf="editAccount" [formGroup]="editAccount" (ngSubmit)="updateAccount(editAccount)"
        class="p-0">
        <section class="modal-card-body">
          <label class="label">Çalışan Adı</label>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input formControlName="fullName" class="input" type="text" placeholder="Çalışan Adı">
              <span class="icon is-medium is-left">
                <i class="fas fa-user fa-lg"></i>
              </span>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot field is-grouped is-grouped-centered">
          <p class="control">
            <button class="button is-success my-0">Düzenle</button>
            <button class="button is-danger my-0" (click)="close()">İptal</button>
          </p>
        </footer>
      </form>
    </ng-template>
  </div>
</div>