<section class="section section-padding-large">
  <div class="has-text-centered">
    <img class="login-logo" src="assets/logo.png">
    <h1 class="title">{{title}}</h1>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="px-6">
    <label class="label">Email</label>
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input formControlName="email" class="input" type="email" placeholder="ornek@ornek.com">
        <span class="icon is-medium is-left">
          <i class="fas fa-envelope fa-lg"></i>
        </span>
      </div>
    </div>

    <label class="label">Şifre</label>
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input formControlName="password" class="input" type="password" placeholder="*****">
        <span class="icon is-medium is-left">
          <i class="fas fa-key fa-lg"></i>
        </span>
      </div>
    </div>

    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <button class="button is-info is-outlined">
          Giriş Yap
        </button>
      </p>
    </div>
  </form>

  <div class="has-text-centered">
    <a [routerLink]="['/auth','register']"> Hesabınız yok mu? Şimdi üye ol!</a>
  </div>
</section>