<ng-template [ngIf]="printAccount == false">
  <button class="button is-fullwidth is-success" (click)="addPrintAccount()">
    <span class="icon">
      <i class="fas fa-print"></i>
    </span>
    <span>Yazıcı Hesabı Ekle</span>
  </button>
</ng-template>
<ng-template [ngIf]="printAccount">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="assets/logo.png" alt="Placeholder image" />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="assets/logo.png" alt="Placeholder image" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4 mt-0">John Smith</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-modal
  *ngIf="showModal"
  [showModal]="state"
  [header]="'Yazıcı Hesabı Bilgileri'"
  [form]="2"
  (onClose)="addedPrinterAccount($event)"
></app-modal>
