<ng-template [ngIf]="!printerAccount">
  <button class="button is-fullwidth is-success" (click)="addPrintAccount()">
    <span class="icon">
      <i class="fas fa-print"></i>
    </span>
    <span>Yazıcı Hesabı Ekle</span>
  </button>
</ng-template>
<ng-template [ngIf]="printerAccount">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="assets/logo.png" alt="{{ printerAccount.displayName }}" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4 mt-0">{{ printerAccount.displayName }}</p>
          <p class="subtitle is-6">{{ printerAccount.email }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-modal
  *ngIf="showModal"
  [showModal]="state"
  [header]="'Yazıcı Hesabı Bilgileri'"
  [form]="2"
  (onClose)="addedPrinterAccount($event)"
></app-modal>
