<section class="section">
  <div class="has-text-centered">
    <img class="login-logo"
      src="https://play-lh.googleusercontent.com/oZmXJ4CkYKdQonquHQekyI-5IpOo3D9ZVUX0pMvMWddX2PmhPAx_STgzZcw5Pa7Hcw">
    <h1 class="title">{{title}}</h1>

  </div>

  <!-- <div class="field">
    <label class="label">Email</label>
    <div class="control  has-icons-left">
      <input class="input" type="email" [(ngModel)]="email" placeholder="Email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Ad Soyad</label>
    <div class="control  has-icons-left">
      <input class="input" type="text" [(ngModel)]="fullName" placeholder="Ad Soyad">
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Şirket</label>
    <div class="control  has-icons-left">
      <input class="input" type="text" [(ngModel)]="companyName" placeholder="Şirket">
      <span class="icon is-small is-left">
        <i class="fas fa-building"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Şifre</label>
    <div class="control has-icons-left">
      <input class="input" type="password" [(ngModel)]="password" placeholder="Şifre">
      <span class="icon is-small is-left">
        <i class="fa fa-key"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Şifre Tekrarı</label>
    <div class="control has-icons-left">
      <input class="input" type="password" [(ngModel)]="rePassword" placeholder="Şifre Tekrarı">
      <span class="icon is-small is-left">
        <i class="fa fa-key"></i>
      </span>
    </div>
  </div>
  <div class="has-text-centered">
    <a class="button is-vcentered is-info is-outlined" (click)="register()">Üye Ol</a>
  </div> -->

  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <label class="label">Email</label>
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input formControlName="email" class="input" type="email" placeholder="ornek@ornek.com">
        <span class="icon is-medium is-left">
          <i class="fas fa-envelope fa-lg"></i>
        </span>
      </div>
    </div>

    <label class="label">Ad Soyad</label>
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input formControlName="fullName" class="input" type="text" placeholder="Ad Soyad">
        <span class="icon is-medium is-left">
          <i class="fas fa-user fa-lg"></i>
        </span>
      </div>
    </div>

    <label class="label">Şirket</label>
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input formControlName="companyName" class="input" type="text" placeholder="Şirket">
        <span class="icon is-medium is-left">
          <i class="fas fa-building fa-lg"></i>
        </span>
      </div>
    </div>

    <label class="label">Şifre</label>
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input formControlName="password" class="input" type="password" placeholder="*****">
        <span class="icon is-medium is-left">
          <i class="fas fa-key fa-lg"></i>
        </span>
      </div>
    </div>

    <label class="label">Şifre</label>
    <div class="field">
      <div class="control has-icons-left has-icons-right">
        <input formControlName="rePassword" class="input" type="password" placeholder="*****">
        <span class="icon is-medium is-left">
          <i class="fas fa-key fa-lg"></i>
        </span>
      </div>
    </div>

    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <button class="button is-info is-outlined">
          Üye Ol
        </button>
      </p>
    </div>
  </form>
  
  <div class="has-text-centered">
    <a [routerLink]="['/auth','login']"> Zaten üye misiniz? Giriş Yap!</a>
  </div>
</section>
