<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a routerLink="/dashboard">Anasayfa</a></li>
    <li class="is-active"><a routerLink="/dashboard/employees">Çalışanlar</a></li>
  </ul>
</nav>
<table class="table is-fullwidth is-hoverable is-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Ad Soyad</th>
      <th><input class="form-control" style="float: right;" placeholder="Personel Ara" [(ngModel)]="filterText" /></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees | employeeFilter:filterText; let i = index">
      <th>{{ i + 1 }}</th>
      <td>{{ employee.displayName }}</td>
      <td>
        <div class="buttons is-right">
          <button [(ngModel)]="employee.eID" class="button is-danger is-outlined is-small m-0"
            (click)="removeEmployee(employee.eID)">
            <span>Çıkar</span>
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>