<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="../index.html">
                <img src="assets/logo.png" class="image">
            </a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="javascript:void(0);">
                    Anasayfa
                </a>
                <a class="navbar-item" href="javascript:void(0);">
                    Belgeler
                </a>
                <a class="navbar-item addEmployee" href="javascript:void(0);">
                    Personel Davet Et
                </a>
                <a class="navbar-item addDocument" href="javascript:void(0);">
                    Döküman Ekle
                </a>
                <a (click)="logout()" class="navbar-item" href="javascript:void(0);">
                    Çıkış
                </a>
                
            </div>
        </div>
    </div>
</nav>