<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item brand-text" routerLink="/dashboard">
        <img src="assets/logo.png" class="image">
      </a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" routerLink="/dashboard">Anasayfa</a>
        <ng-template [ngIf]="showDocuments">
          <a class="navbar-item" routerLink="/dashboard/documents">Belgeler</a>
        </ng-template>
        <ng-template [ngIf]="showAddEmployee">
          <a class="navbar-item addEmployee" (click)="sendInviteEmployee()" href="javascript:void(0);">Personel Davet
            Et</a>
        </ng-template>
        <ng-template [ngIf]="showAddDocument">
          <a class="navbar-item addDocument" href="javascript:void(0);">Döküman Ekle</a>
        </ng-template>
        <a (click)="logout()" class="navbar-item" href="javascript:void(0);">Çıkış</a>
      </div>
    </div>
  </div>
</nav>

<app-modal *ngIf="showModal" [showModal]="sentState" (onClose)="sentInviteEmployee($event)"></app-modal>