nav.navbar {
    border-top: 4px solid #276cda;
    margin-bottom: 1rem;
}

.navbar-item.brand-text {
    font-weight: 300;
}

.navbar-item, .navbar-link {
    font-size: 14px;
    font-weight: 700;
}
.addEmployee {
    background-color: coral;
    color: white !important;
    border-radius: 4px;
}

.addEmployee:hover {
    background-color: tomato !important;
}

.addEmployee:focus {
    background-color: tomato !important;
}
.file.is-success .file-cta:hover{
    background-color: #218838 !important;
}