<nav class="navbar is-white">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item brand-text" routerLink="/dashboard">
        <img src="assets/logo.png" class="image" />
      </a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" routerLink="/dashboard">Anasayfa</a>
        <ng-template [ngIf]="showDocuments">
          <a class="navbar-item" routerLink="/dashboard/documents">Belgeler</a>
        </ng-template>
        <ng-template [ngIf]="showAddEmployee">
          <div class="navbar-item file">
            <a class="navbar-item addEmployee" (click)="sendModalState(1,'Personel Davet Et')" href="javascript:void(0);">Personel Davet
              Et</a>
          </div>
        </ng-template>
        <ng-template [ngIf]="showAddDocument">
          <div class="navbar-item file is-success">
            <a class="navbar-item addDocument" (click)="sendModalState(3,'Dosya Yükle')" href="javascript:void(0);">Döküman
              Ekle</a>
          </div>
        </ng-template>
        <a (click)="logout()" class="navbar-item" href="javascript:void(0);">Çıkış</a>
      </div>
    </div>
  </div>
</nav>

<app-modal *ngIf="showModal" [showModal]="state" [header]='header' [form]='formType'
  (onClose)="updateModalState($event)"></app-modal>
