nav.navbar {
    border-top: 4px solid #276cda;
    margin-bottom: 1rem;
}

.navbar-item.brand-text {
    font-weight: 300;
}

.navbar-item, .navbar-link {
    font-weight: 700;
}
.addEmployee {
    background-color: coral;
    color: white !important;
    border-radius: 4px;
}

.addEmployee:hover {
    background-color: tomato !important;
}

.addEmployee:focus {
    background-color: tomato !important;
}

.addDocument {
    background-color: #48c774;
    color: white !important;
    border-radius: 4px;
}

.addDocument:hover {
    background-color: #41b96b !important;
}

.addDocument:focus {
    background-color: #41b96b !important;
}
.button{
    min-width: 0 !important;
}