.strength-meter {
    font-size: 0.8rem;
}
.strength-meter .strength-text {
    text-align: right;
    font-weight: bold;
}
.strength-meter .strength-wrapper {
    margin: 5px 0;
    background: #ddd;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    position: relative;
}
.strength-meter .strength-wrapper:before {
    content: "";
    height: inherit;
    background: 0 0;
    display: block;
    border-color: #fff;
    border-style: solid;
    border-width: 0 5px;
    position: absolute;
    width: calc(((100% - 20px)/ 5) + 10px);
    left: calc((100% - 20px)/ 5);
}
.strength-meter .strength-wrapper:after {
    top: 0;
    right: calc((100% - 20px)/ 5);
    content: "";
    height: inherit;
    background: 0 0;
    display: block;
    border-color: #fff;
    border-style: solid;
    border-width: 0 5px;
    position: absolute;
    width: calc(((100% - 20px)/ 5) + 10px);
}
.strength-meter .strength-wrapper .strength-bars {
    background: #fff;
    width: 0;
    height: 100%;
    border-radius: 5px;
    transition: width 0.5s ease-in-out, background 0.25s;
}
.strength-meter[data-strength-score="1"] .strength-text, .strength-meter[data-strength-score="20"] .strength-text, .strength-meter[data-strength-score="25"] .strength-text {
    color: darkred;
}
.strength-meter[data-strength-score="1"] .strength-wrapper .strength-bars, .strength-meter[data-strength-score="20"] .strength-wrapper .strength-bars, .strength-meter[data-strength-score="25"] .strength-wrapper .strength-bars {
    background: darkred;
    width: 20%;
}
.strength-meter[data-strength-score="2"] .strength-text, .strength-meter[data-strength-score="40"] .strength-text, .strength-meter[data-strength-score="33.33"] .strength-text {
    color: #d24848;
}
.strength-meter[data-strength-score="2"] .strength-wrapper .strength-bars, .strength-meter[data-strength-score="40"] .strength-wrapper .strength-bars, .strength-meter[data-strength-score="33.33"] .strength-wrapper .strength-bars {
    background: #d24848;
    width: 40%;
}
.strength-meter[data-strength-score="3"] .strength-text, .strength-meter[data-strength-score="60"] .strength-text, .strength-meter[data-strength-score="50"] .strength-text {
    color: #8a8380;
}
.strength-meter[data-strength-score="3"] .strength-wrapper .strength-bars, .strength-meter[data-strength-score="60"] .strength-wrapper .strength-bars, .strength-meter[data-strength-score="50"] .strength-wrapper .strength-bars {
    background: orangered;
    width: 60%;
}
.strength-meter[data-strength-score="4"] .strength-text, .strength-meter[data-strength-score="80"] .strength-text, .strength-meter[data-strength-score="75"] .strength-text, .strength-meter[data-strength-score="66.66"] .strength-text {
    color: yellowgreen;
}
.strength-meter[data-strength-score="4"] .strength-wrapper .strength-bars, .strength-meter[data-strength-score="80"] .strength-wrapper .strength-bars, .strength-meter[data-strength-score="75"] .strength-wrapper .strength-bars, .strength-meter[data-strength-score="66.66"] .strength-wrapper .strength-bars {
    background: yellowgreen;
    width: 80%;
}
.strength-meter[data-strength-score="5"] .strength-text, .strength-meter[data-strength-score="100"] .strength-text, .strength-meter[data-strength-score="99.99"] .strength-text {
    color: #0cc70c;
}
.strength-meter[data-strength-score="5"] .strength-wrapper .strength-bars, .strength-meter[data-strength-score="100"] .strength-wrapper .strength-bars, .strength-meter[data-strength-score="99.99"] .strength-wrapper .strength-bars {
    background: #0cc70c;
    width: 100%;
}
