<div class="columns is-vcentered">
  <div class="login column is-4 ">
    <section class="section">
      <div class="has-text-centered">
        <img class="login-logo"
          src="https://play-lh.googleusercontent.com/oZmXJ4CkYKdQonquHQekyI-5IpOo3D9ZVUX0pMvMWddX2PmhPAx_STgzZcw5Pa7Hcw">
        <h1 class="title">Static Print</h1>

      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control  has-icons-left">
          <input class="input" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>

        </div>

      </div>

      <div class="field">
        <label class="label">Şifre</label>
        <div class="control has-icons-left">
          <input class="input" type="password" placeholder="Şifre">
          <span class="icon is-small is-left">
            <i class="fa fa-key"></i>
          </span>
        </div>
      </div>
      <div class="has-text-centered">
        <a class="button is-vcentered is-info is-outlined">Giriş Yap</a>
      </div>
      <div class="has-text-centered">
        <a href="signup.html"> Hesabınız yok mu? Şimdi üye ol!</a>
      </div>
    </section>
  </div>
  <div id="particles-js" class="interactive-bg column is-8">
  </div>
</div>
