<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a routerLink="/dashboard">Anasayfa</a></li>
    <li class="is-active"><a routerLink="/dashboard/documents">Dökümanlar</a></li>
  </ul>
</nav>
<table class="table is-fullwidth is-hoverable is-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Belge Adı</th>
      <th>Belgeyi Yükleyen <input class="form-control" style="float: right;"  placeholder="Döküman Ara" [(ngModel)]="filterText"/></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let document of documents | documentFilter:filterText; let i = index">
      <th>{{ i + 1 }}</th>
      <td><a href='{{ document.downloadUrl }}' target="_blank">{{ document.name }}</a></td>
      <td>{{ document.user.displayName }}</td>
    </tr>
  </tbody>
</table>
